In [2]:
import pandas as pd

In [3]:
#Importing user ratings of animes

ratings_df = pd.read_csv("rating_complete.csv")

In [157]:
ratings_df

          user_id  anime_id  rating
0               0       430       9
1               0      1004       5
2               0      3010       7
3               0       570       7
4               0      2762       9
...           ...       ...     ...
57633273   353404       502       8
57633274   353404       987       4
57633275   353404       225       8
57633276   353404       243       7
57633277   353404       896       7

[57633278 rows x 3 columns]

In [158]:
#Reshaping and Summing, in order to get 

ratings_by_anime = ratings_df.groupby('anime_id')['rating'].count().reset_index()
ratings_by_anime = ratings_by_anime.rename(columns={'rating': 'count'})
ratings_by_anime

       anime_id  count
0             1  79714
1             5  33613
2             6  46970
3             7  10224
4             8   1514
...         ...    ...
16867     47614     63
16868     47616   1755
16869     47618     16
16870     48177     33
16871     48456    180

[16872 rows x 2 columns]

In [5]:
#Importing Anime Data

animes_df = pd.read_csv("anime.csv")
animes_df

,MAL_ID,Name,Score,Genres,English name,Japanese name,Type,Episodes,Aired,Premiered,...,Score-10,Score-9,Score-8,Score-7,Score-6,Score-5,Score-4,Score-3,Score-2,Score-1
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,カウボーイビバップ,TV,26,"Apr 3, 1998 to Apr 24, 1999",Spring 1998,...,229170.0,182126.0,131625.0,62330.0,20688.0,8904.0,3184.0,1357.0,741.0,1580.0
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Cowboy Bebop:The Movie,カウボーイビバップ 天国の扉,Movie,1,"Sep 1, 2001",Unknown,...,30043.0,49201.0,49505.0,22632.0,5805.0,1877.0,577.0,221.0,109.0,379.0
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",Trigun,トライガン,TV,26,"Apr 1, 1998 to Sep 30, 1998",Spring 1998,...,50229.0,75651.0,86142.0,49432.0,15376.0,5838.0,1965.0,664.0,316.0,533.0
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),TV,26,"Jul 2, 2002 to Dec 24, 2002",Summer 2002,...,2182.0,4806.0,10128.0,11618.0,5709.0,2920.0,1083.0,353.0,164.0,131.0
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",Beet the Vandel Buster,冒険王ビィト,TV,52,"Sep 30, 2004 to Sep 29, 2005",Fall 2004,...,312.0,529.0,1242.0,1713.0,1068.0,634.0,265.0,83.0,50.0,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17557,48481,Daomu Biji Zhi Qinling Shen Shu,Unknown,"Adventure, Mystery, Supernatural",Unknown,盗墓笔记之秦岭神树,ONA,Unknown,"Apr 4, 2021 to ?",Unknown,...,Unknown,Unknown,Unknown,1.0,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
17558,48483,Mieruko-chan,Unknown,"Comedy, Horror, Supernatural",Unknown,見える子ちゃん,TV,Unknown,2021 to ?,Unknown,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
17559,48488,Higurashi no Naku Koro ni Sotsu,Unknown,"Mystery, Dementia, Horror, Psychological, Supe...",Higurashi:When They Cry – SOTSU,ひぐらしのなく頃に卒,TV,Unknown,"Jul, 2021 to ?",Summer 2021,...,1.0,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
17560,48491,Yama no Susume: Next Summit,Unknown,"Adventure, Slice of Life, Comedy",Unknown,ヤマノススメ Next Summit,TV,Unknown,Unknown,Unknown,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
17561,48492,Scarlet Nexus,Unknown,"Action, Fantasy",Unknown,SCARLET NEXUS,TV,Unknown,"Jul, 2021 to ?",Summer 2021,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown

In [159]:
#dropping columns that won't be used in model

animes_skimmed = animes_df.drop(['Japanese name',
       'Type', 'Episodes', 'Aired', 'Premiered', 'Producers', 'Licensors',
       'Studios', 'Source', 'Duration', 'Rating', 'Ranked', 'Popularity',
       'Members', 'Favorites', 'Watching', 'Completed', 'On-Hold', 'Dropped',
       'Plan to Watch', 'Score-10', 'Score-9', 'Score-8', 'Score-7', 'Score-6',
       'Score-5', 'Score-4', 'Score-3', 'Score-2', 'Score-1','Name', 'Score', 'English name'], axis = 1)

animes_skimmed

       MAL_ID                                             Genres
0           1    Action, Adventure, Comedy, Drama, Sci-Fi, Space
1           5              Action, Drama, Mystery, Sci-Fi, Space
2           6  Action, Sci-Fi, Adventure, Comedy, Drama, Shounen
3           7  Action, Mystery, Police, Supernatural, Drama, ...
4           8          Adventure, Fantasy, Shounen, Supernatural
...       ...                                                ...
17557   48481                   Adventure, Mystery, Supernatural
17558   48483                       Comedy, Horror, Supernatural
17559   48488  Mystery, Dementia, Horror, Psychological, Supe...
17560   48491                   Adventure, Slice of Life, Comedy
17561   48492                                    Action, Fantasy

[17562 rows x 2 columns]

In [8]:
#Reshaping table such that, each unique value of "Genres" column is made it's own column with binary value representing 
#Whether a specific anime is that genre or not.

genres_split_out = animes_skimmed['Genres'].str.get_dummies(', ')
genres_split_out = pd.concat([animes_skimmed, genres_split_out], axis=1)
genres_split_out = genres_split_out.drop('Genres', axis = 1)
genres_split_out

,MAL_ID,Action,Adventure,Cars,Comedy,Dementia,Demons,Drama,Ecchi,Fantasy,...,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,Unknown,Vampire,Yaoi,Yuri
0,1,1,1,0,1,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
1,5,1,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
2,6,1,1,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,7,1,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
4,8,0,1,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17557,48481,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
17558,48483,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
17559,48488,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
17560,48491,0,1,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
17561,48492,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [9]:
# For the purpose of testing, pull all the animes seen by a user in the user table with user_ID

def generate_single_user_ratings(user_id):
    user_ratings = ratings_df[ratings_df['user_id'] == user_id]['rating'].reset_index()
    user_ratings.rename(columns={'anime_id': 'rating'})
    return user_ratings

In [10]:
user_ratings = generate_single_user_ratings(1)
user_ratings

     index  rating
0       35       9
1       36      10
2       37       9
3       38       6
4       39       8
..     ...     ...
98     133       8
99     134       7
100    135      10
101    136      10
102    137      10

[103 rows x 2 columns]

In [11]:
#Performs a Left Join on user ratings and genres split out, to get the binary value for every genre that applies to 
#all the anime the user has seen

def generate_merged_df(genres_split_out, user_ratings):
    df1_filtered = genres_split_out[genres_split_out['MAL_ID'].isin(user_ratings['index'])]
    merged_df = pd.merge(df1_filtered, user_ratings, left_on='MAL_ID', right_on='index')
    merged_df.drop('index', axis=1, inplace=True)
    return merged_df

In [12]:
merged_df = generate_merged_df(genres_split_out, user_ratings)
merged_df

,MAL_ID,Action,Adventure,Cars,Comedy,Dementia,Demons,Drama,Ecchi,Fantasy,...,Space,Sports,Super Power,Supernatural,Thriller,Unknown,Vampire,Yaoi,Yuri,rating
0,43,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
1,44,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,9
2,45,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7
3,46,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,8
4,47,1,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,133,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,8
89,134,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,7
90,135,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,10
91,136,1,1,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,10
92,137,1,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,10

In [13]:
from sklearn.model_selection import train_test_split

#This function will take our training data and split it up for training

def split_user_data_train_test(merged_df):
    X = merged_df.drop(columns=["MAL_ID", "rating"])
    y = merged_df["rating"]
    x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
    return x_train, x_test, y_train, y_test

In [44]:
x_train, x_test, y_train, y_test = split_user_data_train_test(merged_df)f
x_train

76     8
82     8
85    10
3      8
80     9
      ..
89     7
67     8
64     9
47     7
44     9
Name: rating, Length: 65, dtype: int64

In [15]:
#This function by using animes_df and anime_ratings will take an anime name and return the most popular anime 
#For each genre that anime is part of

def find_similar_anime(anime_id):
    anime_genres = animes_df[animes_df['MAL_ID'] == anime_id]['Genres'].iloc[0].split(", ")
    anime_ids = []
    for i in range(len(anime_genres)):
        genre = anime_genres[i]
        similar_anime = animes_df[animes_df['Genres'].str.contains(genre)]
        anime_ids.extend(list(similar_anime['MAL_ID']))
    anime_ids = list(set(anime_ids))
    anime_ids.remove(anime_id)
    anime_ratings = ratings_df[ratings_df['anime_id'].isin(anime_ids)]
    anime_ratings_count = anime_ratings.groupby('anime_id')['rating'].count()
    anime_with_most_ratings = anime_ratings_count.nlargest(5)
    anime_info = animes_df[animes_df['MAL_ID'].isin(anime_with_most_ratings.index)][['Name', 'MAL_ID', 'Genres']]
    return anime_info

In [160]:
find_similar_anime(1)

,Name,MAL_ID,Genres
1431,Code Geass: Hangyaku no Lelouch,1575,"Action, Military, Sci-Fi, Super Power, Drama, ..."
4636,Angel Beats!,6547,"Action, Comedy, Drama, School, Supernatural"
6614,Sword Art Online,11757,"Action, Game, Adventure, Romance, Fantasy"
7449,Shingeki no Kyojin,16498,"Action, Military, Mystery, Super Power, Drama,..."
10451,One Punch Man,30276,"Action, Sci-Fi, Comedy, Parody, Super Power, S..."

In [18]:
from sklearn.naive_bayes import BernoulliNB

# Perform Naive Bayes with Bernoulli distribution, takes in training and testing data and returns summed error, and 
# and label predicion Accuracy

#This naive bayes uses the probability that a user will like an anime with any given genre as priors. And 
#Uses the users ratings of 1-10 as labels. For testing data NB will look at any anime and try and predict 
#the rating that a user will give that anime. The "error_total" is the sum of absolute differences between the predicted
#rating and the actual. "correct_counter/iterations" is the accuracy, or what percentage of predictions are dead on.
#Choose to include both metrics to see if bernoulli would perform better than gaussian. 


def NB_Bernoulli(x_train, y_train, x_test, y_test):
    model = BernoulliNB()
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    error_total = 0
    correct_counter = 0
    iterations = 0
    for x in range(len(y_pred)-1):
        iterations += 1
        if (list(y_pred)[x] != list(y_test)[x]):
            error_total += abs(list(y_pred)[x] - list(y_test)[x])
        else:
            correct_counter += 1
    return error_total, correct_counter/iterations

In [19]:
NB_Bernoulli(x_train, y_train, x_test, y_test)
#The first value is the total absolute value of the error, The second is how often it was exactly correct with label

(29, 0.37037037037037035)

In [20]:
from sklearn.naive_bayes import GaussianNB


#Same setup as Bernoulli, in terms of arguemnts and error metrics. 


def NB_Gaussian(x_train, y_train, x_test, y_test):
    gnb = GaussianNB()
    gnb.fit(x_train,y_train)
    y_pred = gnb.predict(x_test)
    error_total = 0
    correct_counter = 0
    iterations = 0
    for x in range(len(y_pred)-1):
        iterations += 1
        if (list(y_pred)[x] != list(y_test)[x]):
            error_total += abs(list(y_pred)[x] - list(y_test)[x])
        else: 
            correct_counter += 1 
            
    return error_total, correct_counter/iterations

In [21]:
NB_Gaussian(x_train, y_train, x_test, y_test) 
#The first value is the total absolute value of the error, The second is how often it was exactly correct with label

(38, 0.18518518518518517)

In [22]:
#This function will perform Gaussian NB on multiple user and average the total error and accuracy to give us better idea
#of how model is working. 

def find_average_error_for_n_users_Gaussian(number_of_users):
    total_error = 0
    accuracy_error = 0
    iterations = 0
    for x in range(number_of_users):
        user_ratings = generate_single_user_ratings(x)
        merged_df = generate_merged_df(genres_split_out, user_ratings)
        if(merged_df.empty == True):
            continue
        else:
            iterations += 1
            x_train, x_test, y_train, y_test = split_user_data_train_test(merged_df)
            temp_error, temp_accuracy_error = NB_Gaussian(x_train, y_train, x_test, y_test)
            total_error += temp_error
            accuracy_error += temp_accuracy_error
        
    return total_error/iterations, accuracy_error/iterations

In [172]:
find_average_error_for_n_users_Gaussian(15)
#The first value is the total absolute value of the error, The second is how often it was exactly correct with label
#but for multile users

(47.857142857142854, 0.22557116863839552)

In [173]:
#This function will perform Bernoulli NB on multiple user and average the total error and accuracy to give us better idea
#of how model is working. 

def find_average_error_for_n_users_Bernoulli(number_of_users):
    total_error = 0
    accuracy_error = 0
    iterations = 0
    for x in range(number_of_users):
        iterations += 1
        user_ratings = generate_single_user_ratings(x)
        merged_df = generate_merged_df(genres_split_out, user_ratings)
        if(merged_df.empty == True):
            continue
        else: 
            iterations += 1
            x_train, x_test, y_train, y_test = split_user_data_train_test(merged_df)
            temp_error, temp_accuracy_error = NB_Bernoulli(x_train, y_train, x_test, y_test)
            total_error += temp_error
            accuracy_error += temp_accuracy_error
        
    return total_error/iterations, accuracy_error/iterations

In [174]:
find_average_error_for_n_users_Bernoulli(15)
#The first value is the total absolute value of the error, The second is how often it was exactly correct with label
#but for multile users

(14.379310344827585, 0.13735544674692748)

Since NB doesn't have a hyperparam to tune, We instead chose to try two different distributions to generate priors. Bernoulli and Guassaun. 

While looking at the results for multiple users, It looks like Guassian while having better accuracy than Bernoulli, has less total error. Eventhough Guassian made the exact correct prediction more often than Bernoulli, Bernoulli has way less total error so is closer in general to the correct ratings eventhough it's not 100% on target as often as Gausssian.

Therefore for our recommender system we will implement Bernoulli!

In [30]:
#Helper function to generate df form for user

def get_ratings_dataframe(animeNames, ratings, animes_df):
    anime_id_list = []
    for name in animeNames:
        anime_id = animes_df.loc[animes_df['Name'] == name, 'MAL_ID'].iloc[0]
        anime_id_list.append(anime_id)

    ratings_dict = {'index': anime_id_list, 'rating': ratings}
    ratings_df = pd.DataFrame(ratings_dict)

    return ratings_df

In [175]:
#This is theoritical user we are going to make a prediction for, you can find a recomendation
#for yourself you can put the anime names/ and ratings in these arrays as long as animes are spelled like they are spelled
#in animes_df
animeNames = ['Trigun', 'Trinity Blood', 'Koukaku Kidoutai', 'Cowboy Bebop', 'Naruto', 'One Piece', 'Neon Genesis Evangelion: The End of Evangelion']
ratings = [6, 7, 3, 8, 9, 7, 1]

In [166]:
#helper function to get anime_df with all the animes except the ones a user has scene to predict ratings for

def filter_animes(user_ratings, animes_df):
    filtered_animes = animes_df[animes_df['MAL_ID'].isin(user_ratings) == False]
    anime_ids = filtered_animes['MAL_ID']
    filtered_animes = filtered_animes.drop('MAL_ID', axis = 1)
    return filtered_animes, anime_ids

In [176]:
#This is the reccommender! takes in the user data in the form of x_train, y_train, and 
#the number of recommdations you want to recieve

#This function will predict the rating for every anime the user hasn't seen, and get the num_of_reccommendations
#from sorted list predicted animes ranked desending with predicted highest rated anime at the top 

def NB_Bernoulli_Recommender(x_train, y_train, num_of_recommendations):
    model = BernoulliNB()
    model.fit(x_train, y_train)
    
    prediction_df, anime_ids = filter_animes(x_train, genres_split_out)
    
    y_pred = model.predict(prediction_df)

    recommender_dict = {}
    
    for x in range(len(y_pred)-1):
        recommender_dict[anime_ids[x]] = y_pred[x]
        
        
    items = recommender_dict.items()
    sorted_items = sorted(items, key=lambda x: x[1], reverse = True)
    
    recommendations = []*num_of_recommendations
    
    for x in range(num_of_recommendations):
        print(str(animes_df[animes_df['MAL_ID'] == sorted_items[x][0]]['Name'].iloc[0]))

In [179]:
#same info described above
animeNames = ['Trigun', 'Trinity Blood', 'Koukaku Kidoutai', 'Cowboy Bebop', 'Naruto', 'One Piece', 'Neon Genesis Evangelion: The End of Evangelion']
ratings = [6, 7, 3, 8, 9, 7, 1]


#Creating Training data from user information 

user_ratings = get_ratings_dataframe(animeNames, ratings, animes_df)
merged_df = generate_merged_df(genres_split_out, user_ratings)

X = merged_df.drop(columns=["MAL_ID", "rating"])
y = merged_df["rating"]

In [180]:
#Recommendations!!!
#Of all the animes that you have not seen, these are the 'num_of_recommendations' (in this case 10) anime that 
#the bernoulli NB predicted you would rate the highest.  

NB_Bernoulli_Recommender(X,y,10)

Blue Gender
Mobile Suit Gundam 0083: Stardust Memory
Mobile Suit Gundam ZZ
Turn A Gundam
Mobile Fighter G Gundam
Divergence Eve
Divergence Eve 2: Misaki Chronicles
Kachou Ouji
Musekinin Kanchou Tylor OVA
Blue Gender: The Warrior